.carousel-container{
    width: 97%;
    margin: 0 auto;
    margin-left: 50px;
    margin-top: 50px;
  }
  
  .top10 {
      width: 99%;
      background-color: #0e0e0e;
    }
    
    .top10-item {
      position: relative;
      padding: 2px;
      background-color: #0e0e0e;
      border-radius: 15px;
      overflow: hidden;
    }
    
    .top10-item img {
      width: 90%;
      height: 20%;
      object-fit: fill; 
      border-radius: 10px;
      transition: transform 0.3s ease;
      cursor: pointer;
    }

    .slick-prev,
    .slick-next {
      z-index: 1;
      background: rgb(0, 0, 0);
      border-radius: 50%;
    }
    
    .top10-item:hover img {
      transform: scale(1.05);
    }
    
    @media (max-width: 1024px) {
      .top10-item img {
        height: 230px;
      }
    }
    
    @media (max-width: 768px) {
      .top10-item img {
        height: 200px;
      }
    }
    
    @media (max-width: 480px) {
      .top10-item img {
        height: 180px;
      }
    }
    