.banner-slide {
    position: relative;
    width: 100%;
    height: 600px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 
                -2px -2px 5px rgba(255, 255, 255, 0.7);
  }
  
  .banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .banner-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 50%;
  }
  
  .banner-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .banner-description {
    font-size: 1.2rem;
  }
  
  .slick-dots li button:before {
    color: rgb(255, 0, 0);
  }
  
  .slick-prev:before, .slick-next:before {
    color: rgb(255, 0, 0);
  }
  