.player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.player-container video {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.player-container h2 {
  font-size: 1rem;
  margin-bottom: 20px;
}